DB_SA_PASSWORD=P@$$w0rd123
DB_NAME=ComplytestDb


CONNECTION_STRING=Server=sqlserver,1433;Database=ComplytestDb;User Id=sa;Password=P@$$w0rd123;TrustServerCertificate=true;MultipleActiveResultSets=true
